<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
    <div class="about">
        <h2>About us</h2>
        <p>Nous sommes Nadhem Ochi et Hazem Saidani, passionnés par le domaine de l'informatique. Nos parcours académiques nous ont permis d'obtenir 
            le diplôme de Développement de Système d'Information à l'Institut Supérieur des Études Technologiques de Jendouba. 
            Nos études nous ont dotés d'une compréhension approfondie des concepts fondamentaux de l'informatique.</p>
            <h4>Compétences Clés :</h4>
            <ul>
                <li><font color="blue">Language de programmation:</font> C++, Angular, JavaScript, Python, PHP, java, MySql, c#, html, css</li>
                <li><font color="blue">Développement Web:</font> HTML, PHP, CSS, Python, JavaScript et frameworks</li>
                <li><font color="blue">système d'exploitation:</font> Windows, OS, Linux</li>
                <li><font color="blue">Outils et Technologies:</font> matériels, logiciels</li>
            </ul>
            <h4>Projet et Stage</h4>
            <p>Nous avons travaillé sur plusieurs projets significatifs qui ont renforcé notre compréhension des concepts clés de l'informatique.
               Certains de ces projets incluent des rendez-vous en ligne, [ajouter d'autres projets pertinents], etc. 
               Chacun de ces projets a contribué à notre croissance professionnelle et à l'enrichissement de nos compétences.
            </p>
            <h4>objectif professionnel</h4>
            <p>Notre objectif professionnel est de contribuer au développement de logiciels innovants, de participer à des projets pertinents 
                et d'investir dans notre développement professionnel. 
                Nous sommes constamment à la recherche de nouvelles opportunités pour approfondir nos connaissances et relever des défis stimulants.
            </p>
    </div>
</form>
</body>
</html>