<nav class="navbar">
  <div class="nav">
    <ul class="navbar">
      <li class="nav-home"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a class="nav-link" routerLink="/contact">Contact</a></li>
      <li><a class="nav-link" routerLink="/nadhem.hazem" routerLinkActive="active">Nadhem_Hazem</a></li>
      <li><a class="nav-link" routerLink="/signup">SignUp</a></li>
    </ul>
  <div class="search-container">
    <input type="search" placeholder="search">
    <button  type="search" >search</button>
  </div>
</div>

<div class="main-section">
  <router-outlet></router-outlet>
</div>
</nav>


