<nav class="transparent-background">
  <div class="navbar">
    <div class="main">
      <div class="image-container">
        <img src="nadhem.jpg" alt="Right Image" class="right-image">
        <div class="text-container">
          <h2 class="title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{title}}</h2>
          <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{paragraphe}}</p>
        </div>
        <img src="hazem.jpg" alt="Left Image" class="left-image">
      </div>
    </div>
  </div>
</nav>
